// Fonts
$font-primary: 'Lexend Deca', sans-serif;

// Colors
$color-white: #f5f5f5;
$color-grey: #eaeaea;
$color-primary: #3b6eff;
$color-primary-darken: #1d54ef;
$color-secondary: #00e927;
$color-black: #000;
$color-bg: #041a26;

// AOS
$aos-distance: 40px;
