@@include("../views/parts/header.html", { "title": "SubVT - Home page", "bodyClass": "home-page", "col": "10" })

<section id="section-1" class="section section-1">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-md-9 col-lg-6 col-xxl-5 offset-xxl-1 d-flex d-sm-block flex-column">
                <h1 data-aos="fade-up">Substrate Validator Toolkit</h1>
                <div class="paragraph mt-2 mt-md-3 mb-auto mb-sm-0" data-aos="fade-up" data-aos-delay="300">
                    <p class="large">Beautiful, simple, open-source solution that validators deserve.</p>
                </div>
                <div class="hstack gap-1 mt-5">
                    <a href="#" class="btn store-button" data-aos="fade-up" data-aos-delay="400">
                        <img width="141" height="45" src="img/app-store.svg" alt="Download Subvt from App Store">
                    </a>
                    <a href="#" class="btn store-button" data-aos="fade-up" data-aos-delay="500">
                        <img width="149" height="45" src="img/google-play.svg" alt="Download Subvt from Google Play Store">
                    </a>
                </div>
            </div>
        </div>
        <div class="section-1__shape" data-aos="init">
            <img src="img/hero-shape.svg" aria-hidden="true" alt="SubVT 3D Logo" >
        </div>
    </div>
</section>

<section id="section-2" class="section section-2 text-center">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <h2 data-aos="fade-up">What is SubVT?</h2>
                <div class="paragraph mt-1 mt-md-3" data-aos="fade-up" data-aos-delay="100">
                    <p>SubVT (Substrate Validator Toolkit) is an open-source native mobile application for iOS and
                        Android phones, tablets and wearables that provides node operators with tools that aid them in
                        running their validators on Substrate-based blockchain networks.</p>
                    <p>Development of SubVT is proudly supported by the Kusama Treasury.</p>
                </div>
            </div>
            <div class="col-12 mt-2 mt-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="200">
                <div class="marquee">
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-2.png"
                             srcset="img/square-2.png 1x, img/square-2@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-1.png"
                             srcset="img/square-1.png 1x, img/square-1@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-3.png"
                             srcset="img/square-3.png 1x, img/square-3@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-2.png"
                             srcset="img/square-2.png 1x, img/square-2@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-1.png"
                             srcset="img/square-1.png 1x, img/square-1@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-3.png"
                             srcset="img/square-3.png 1x, img/square-3@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-2.png"
                             srcset="img/square-2.png 1x, img/square-2@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-1.png"
                             srcset="img/square-1.png 1x, img/square-1@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-3.png"
                             srcset="img/square-3.png 1x, img/square-3@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-2.png"
                             srcset="img/square-2.png 1x, img/square-2@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-1.png"
                             srcset="img/square-1.png 1x, img/square-1@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-3.png"
                             srcset="img/square-3.png 1x, img/square-3@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-2.png"
                             srcset="img/square-2.png 1x, img/square-2@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-1.png"
                             srcset="img/square-1.png 1x, img/square-1@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                    <picture class="marquee__item">
                        <img width="167" height="167" src="img/square-3.png"
                             srcset="img/square-3.png 1x, img/square-3@2x.png 2x" aria-hidden="true" alt="Square icon">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-3" class="section section-3" data-parallax>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md col-lg-4 offset-lg-2 order-md-1 text-center text-md-start">
                <h2 data-aos="fade-up">Monitor Your Network</h2>
                <div class="paragraph mt-1 mt-md-3" data-aos="fade-up" data-aos-delay="100">
                    <p>Use SubVT to observe supported Substrate-based proof-of-stake blockchain networks. Display live
                        network status, list of validators and their activities and details, all in real-time,
                        block-by-block.</p>
                </div>
            </div>
            <div class="col-md col-lg-3 offset-lg-2 text-center mt-3 mt-md-0">
                <div class="mockup mockup-1" data-aos="fade" data-aos-delay="300">
                    <div class="mockup__items">
                        <img width="68" height="71" src="img/parallax/kusama.svg" aria-hidden="true" alt="Image">
                        <img width="68" height="69" src="img/parallax/active.svg" aria-hidden="true" alt="Image">
                        <img width="208" height="170" src="img/parallax/era.svg" aria-hidden="true" alt="Image">
                        <img width="98" height="95" src="img/parallax/graph-4.svg" aria-hidden="true" alt="Image">
                    </div>
                    <picture class="mockup__main">
                        <img width="255" height="552" src="img/parallax/network.png"
                             srcset="img/parallax/network.png 1x, img/parallax/network@2x.png 2x" alt="Network status">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-4" class="section section-4" data-parallax>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md col-lg-4 offset-lg-1 text-center text-md-start">
                <h2 data-aos="fade-up">Observe Your Validators</h2>
                <div class="paragraph mt-1 mt-md-3" data-aos="fade-up" data-aos-delay="100">
                    <p>Bookmark your validators and define notification rules for them to receive push, email and SMS
                        notifications, and even phone calls for emergencies.</p>
                </div>
            </div>
            <div class="col-md col-lg-3 offset-lg-2 text-center mt-3 mt-md-0">
                <div class="mockup mockup-2" data-aos="fade" data-aos-delay="300">
                    <div class="mockup__items">
                        <img width="70" height="68" src="img/parallax/phone.svg" aria-hidden="true" alt="Icon">
                        <img width="68" height="68" src="img/parallax/push.svg" aria-hidden="true" alt="Icon">
                        <img width="70" height="68" src="img/parallax/phone.svg" aria-hidden="true" alt="Icon">
                        <img width="68" height="68" src="img/parallax/sms.svg" aria-hidden="true" alt="Icon">
                    </div>
                    <picture class="mockup__main">
                        <img width="255" height="552" src="img/parallax/notification.png"
                             srcset="img/parallax/notification.png 1x, img/parallax/notification@2x.png 2x"
                             alt="Network status">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-5" class="section section-5" data-parallax>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md col-lg-4 offset-lg-2 order-md-1 text-center text-md-start">
                <h2 data-aos="fade-up">Understand Your Network</h2>
                <div class="paragraph mt-1 mt-md-3" data-aos="fade-up" data-aos-delay="100">
                    <p>SubVT provides you with detailed past era and validator activity reports. Gain insight and
                        understanding about the network and staking dynamics to improve the performance of your
                        validators.</p>
                </div>
            </div>
            <div class="col-md col-lg-3 offset-lg-2 text-center mt-3 mt-md-0">
                <div class="mockup mockup-3" data-aos="fade" data-aos-delay="300">
                    <div class="mockup__items">
                        <img width="33" height="58" src="img/parallax/graph-1.svg" aria-hidden="true" alt="Image">
                        <img width="69" height="102" src="img/parallax/graph-2.svg" aria-hidden="true" alt="Image">
                        <img width="70" height="82" src="img/parallax/graph-3.svg" aria-hidden="true" alt="Image">
                        <img width="301" height="138" src="img/parallax/graph-line.svg" aria-hidden="true" alt="Image">
                    </div>
                    <picture class="mockup__main">
                        <img width="255" height="552" src="img/parallax/era.png"
                             srcset="img/parallax/era.png 1x, img/parallax/era@2x.png 2x" alt="Network status">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-6" class="section section-6" data-parallax>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md col-lg-4 offset-lg-1 text-center text-md-start">
                <h2 data-aos="fade-up">Beyond the Blocks</h2>
                <div class="paragraph mt-1 mt-md-3" data-aos="fade-up" data-aos-delay="100">
                    <p>Configure Telemetry for your validators to get even more data and
                        notifications about peer count, upload and download bandwidth, block height, client version and
                        more.</p>
                </div>
            </div>
            <div class="col-md col-lg col-xl-5 offset-lg-1 text-center mt-4 mt-md-0">
                <div class="mockup mockup-4" data-aos="fade" data-aos-delay="300">
                    <div class="mockup__items">
                        <img width="221" height="146" src="img/parallax/upload-bandwidth.svg" aria-hidden="true"
                             alt="Image">
                        <img width="418" height="135" src="img/parallax/first-discovered.svg" aria-hidden="true"
                             alt="Image">
                        <img width="256" height="189" src="img/parallax/download-bandwidth.svg" aria-hidden="true"
                             alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include("../views/parts/footer.html")