@@include("../views/parts/header.html", { "title": "SubVT - Privacy Policy", "col": "8" })

<main class="page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-8">
                <a href="/" class="underline">Back</a>
                <h1 class="mt-5">Privacy Policy</h1>
                <p>Helikon Teknoloji ve Medya Tic. Ltd. Sti. built the SubVT app as an <a href="https://github.com/helikon-labs/subvt" class="underline" target="_blank">open source</a> app.
                    This SERVICE is provided by Helikon Teknoloji ve Medya Tic. Ltd. Sti. at no cost and is intended for use as is.</p>
                <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>
                <p>If you choose to use our Service, then you agree to the collection and use of information in relation to this policy.
                    The Personal Information that we collect is used for providing and improving the Service.
                    We will not use or share your information with anyone except as described in this Privacy Policy.</p>
                <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
                    which are accessible at SubVT unless otherwise defined in this Privacy Policy.</p>
                <h2>Information Collection and Use</h2>
                <p>SubVT does not store any personally identifiable information.</p>
                <h2>Log Data</h2>
                <p>We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information
                    (through third-party products) on your phone called Log Data. This Log Data may include information such as your device
                    Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing
                    our Service, the time and date of your use of the Service, and other statistics.</p>
                <h2>Cookies</h2>
                <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
                    These are sent to your browser from the websites that you visit and are stored on your device's internal memory.</p>
                <p>SubVT does not utilize cookies.</p>
                <h2>Service Providers</h2>
                <p>We do not employ third-party companies and individuals to process any data stored by our services in our databases.</p>
                <h2>Security</h2>
                <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable
                    means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage
                    is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
                <h2>Links to Other Sites</h2>
                <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site.
                    Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy
                    of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices
                    of any third-party sites or services.</p>
                <h2>Changes to This Privacy Policy</h2>
                <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes.
                    We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                <p>This policy is effective as of the 1st of January, 2023.</p>
                <h2>Contact Us</h2>
                <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at <a href="mailto:info@helikon.io" class="underline">info@helikon.io</a>.</p>
            </div>
        </div>
    </div>
</main>

@@include("../views/parts/footer.html")