<section id="section-7" class="section section-7 text-center">
    <div class="container">
        <a href="#" onclick="return false;" class="logotype section-7_logotype">
            <img class="logotype__static" src="img/logotype-icon.svg" alt="SubVT logotype">
            <img class="logotype__hover" src="img/logotype-icon-hover.svg" aria-hidden="true" alt="SubVT logotype">
        </a>
        <p class="regular m-0">Download SubVT</p>
        <div class="hstack justify-content-center gap-1 mt-1 mt-md-2">
            <a href="#" class="btn store-button">
                <img width="141" height="45" src="img/app-store.svg" alt="App Store logotype">
            </a>
            <a href="#" class="btn store-button">
                <img width="149" height="45" src="img/google-play.svg" alt="Google Play logotype">
            </a>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-auto col-lg-3">
                <h3 class="footer__title">Links</h3>
                <ul class="footer__links mt-2 mt-lg-3">
                    <li><a href="https://helikon.io" target="_blank" class="underline">Helikon Home</a></li>
                    <li><a href="mailto:info@helikon.io" class="underline">info@helikon.io</a></li>
                </ul>
            </div>
            <div class="col-md-auto col-lg-3 mt-4 mt-md-0">
                <h3 class="footer__title">Contribute To SubVT</h3>
                <ul class="footer__links mt-2 mt-lg-3">
                    <li><a href="https://github.com/helikon-labs/subvt-backend" target="_blank">SubVT Backend</a></li>
                    <li><a href="https://github.com/helikon-labs/subvt-ios" target="_blank">SubVT iOS</a></li>
                    <li><a href="https://github.com/helikon-labs/subvt-android" target="_blank">SubVT Android</a></li>
                    <li><a href="https://github.com/helikon-labs/subvt-data-swift" target="_blank">SubVT Data Swift</a></li>
                    <li><a href="https://github.com/helikon-labs/subvt-data-android" target="_blank">SubVT Data Android</a></li>
                </ul>
            </div>
            <div class="col-md mt-4 mt-md-0">
                <div class="footer__authors hstack gap-2 gap-lg-4 justify-content-md-end align-items-center">
                    <a href="https://helikon.io" target="_blank">
                        <img width="57" height="77" src="img/logos/helikon.svg" alt="Helikon Home">
                    </a>
                    <a href="https://klad.design" target="_blank">
                        <img width="62" height="79" src="img/logos/klad.svg" alt="Klad Home">
                    </a>
                    <a href="https://kusama.polkassembly.io/treasury/99" target="_blank">
                        <img width="157" height="54" src="img/logos/kusama-badge.svg" alt="Kusama Treasury Grant">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__bottom row align-items-md-center justify-content-md-between">
            <div class="col-md">
                <!--ul class="footer__links footer__links--style-row">
                    <li><a href="/agreement.html">User Agreement</a></li>
                    <li><a href="/privacy.html">Privacy Policy</a></li>
                    <li><a href="/disclaimer.html">Disclaimer</a></li>
                </ul-->
            </div>
            <div class="col-md-auto mt-3 mt-md-0">&copy; Helikon. All Rights Reserved</div>
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>