// Source Serif Pro

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

// Gilroy

@include font-face('Gilroy', '../fonts/gilroy/Gilroy-Regular', 400, normal, eot woff ttf);
@include font-face('Gilroy', '../fonts/gilroy/Gilroy-Medium', 500, normal, eot woff ttf);
@include font-face('Gilroy', '../fonts/gilroy/Gilroy-SemiBold', 600, normal, eot woff ttf);
@include font-face('Gilroy', '../fonts/gilroy/Gilroy-Bold', 700, normal, eot woff ttf);
