%ul-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
%btn-reset {
	width: auto;
	margin: 0;
	padding: 0;
	overflow: visible;
	color: inherit;
	font: inherit;
	line-height: normal;
	background: transparent;
	border: 0;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	appearance: none;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

@include placeholder {
	color: $color-white;
}

* {
	box-sizing: border-box;
}

::selection {
	color: $color-black;
	background-color: rgba($color-secondary, 0.8);
}

::selection {
	color: $color-black;
	background-color: rgba($color-secondary, 0.8);
}

html,
body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

body {
	color: $color-white;
	font-family: $font-primary;
	background-color: $color-bg;

	&:not(.home-page) {
		.header {
			opacity: 1;
		}
	}

	&.panel-visible {
		.panel {
			transform: translateY(0);
		}
	}

	&.home-page {
		@include media-breakpoint-up(lg) {
			background-size: 100%;
		}
		@include media-breakpoint-down(md) {
			background-size: 800px auto;
		}

		background-image: url('img/bg.jpg');
		background-repeat: no-repeat;
		background-position: 50% 0;

		.header {
			@include media-breakpoint-down(lg) {
				top: 40px;
			}
			@include media-breakpoint-down(md) {
				top: 20px;
			}

			position: absolute;
			top: 100px;
			right: 0;
			left: 0;
		}
	}
}

a {
	color: $color-white;
	text-decoration: none;
	outline: none;
	transition: all 0.15s linear;

	&:hover {
		color: $color-secondary;
	}

	&:focus-visible {
		box-shadow: 0 0 0 3px rgba($color-secondary, 0.5);
	}

	&.underline {
		position: relative;

		&::after {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color-secondary;
			content: '';
		}
	}
}

strong,
b {
	font-weight: 700;
}

p {
	@include media-breakpoint-down(lg) {
		font-size: rem(16);
	}
	@include media-breakpoint-down(md) {
		font-size: rem(14);
	}

	margin: 1rem 0;
	color: $color-grey;
	font-weight: 300;
	font-size: rem(18);
	line-height: 150%;

	&.large {
		@include media-breakpoint-down(md) {
			font-size: rem(18);
		}

		color: $color-white;
		font-size: rem(24);
	}

	&.regular {
		@include media-breakpoint-down(lg) {
			font-size: rem(18);
		}
		@include media-breakpoint-down(md) {
			font-size: rem(16);
		}

		font-weight: 400;
	}
}

.paragraph {
	p {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

h1,
h2,
h3 {
	margin: 0;
	line-height: 125%;
}

h1 {
	@include media-breakpoint-down(md) {
		font-size: rem(32);
	}

	font-size: rem(50);
}

h2 {
	@include media-breakpoint-down(lg) {
		font-size: rem(38);
	}
	@include media-breakpoint-down(md) {
		font-size: rem(28);
	}

	font-size: rem(42);
}

h3 {
	@include media-breakpoint-down(lg) {
		font-size: rem(16);
	}

	font-weight: 600;
	font-size: rem(18);
}

.icon {
	display: inline-block;
	width: 18px;
	height: 18px;
}

.btn {
	@include media-breakpoint-down(md) {
		padding: 8px 16px;
	}

	@extend %btn-reset;

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	background-color: $color-primary;
	border-radius: 12px;
	box-shadow: 0 22px 30px -13px rgba($color-primary, 0.5);
	transition: all 0.15s linear;

	img {
		@include media-breakpoint-down(md) {
			width: auto;
			height: 30px;
		}
	}

	&:hover,
	&:focus {
		background-color: $color-primary-darken;
		box-shadow: 0 16px 30px -13px rgba($color-primary, 0.5);
	}

	&:active {
		box-shadow: 0 16px 30px -13px rgba($color-primary, 0.5);
	}
}

.logotype {
	$l: &;

	position: relative;
	display: inline-flex;

	&__static {
		transition: all 0.15s ease;
	}

	&__hover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		object-fit: contain;
		opacity: 0;
		transition: all 0.15s ease;
	}

	&:hover,
	&:focus {
		#{$l}__static {
			opacity: 0;
		}

		#{$l}__hover {
			opacity: 1;
		}
	}
}

.panel {
	@include media-breakpoint-down(md) {
		padding: 20px 0;
	}

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 40px 0;
	text-align: center;
	transform: translateY(-100%);
	transition: all 0.5s ease;

	.btn {
		padding: 8px 16px;

		img {
			width: auto;
			height: 30px;
		}
	}

	&__logotype {
		display: inline-flex;

		img {
			width: auto;
			height: 26px;
		}
	}

	&--place-bottom {
		top: initial;
		bottom: 0;
		transform: translateY(100%);
	}
}

// Bootstrap

.hstack {
	.btn {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}
